<ng-container *ngFor="let groupedEvent of groupedEvents">
  <div class="row">
    <div class="col-lg-12">
      <p class="font-weight-bold">{{groupedEvent.title  | date: 'fullDate' }}</p>
    </div>
  </div>
  <div class="row text-center" [@listAnimation]="groupedEvent.events.length">
    <div class="col-lg-12" *ngFor="let event of groupedEvent.events">
      <card [event]="event" [showCancel]="showCancel"
            (joinEvent)="joinEvent($event)"
            (cancelEvent)="cancelEvent($event)">
      </card>
    </div>
  </div>
</ng-container>
